/* navbar */

#navbar {}


/* header */

#header {
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    text-align: center;
}


/* section1 */

#section1 {
    grid-template-columns: repeat(1, 1fr);
}

.section1_child:last-child {
    grid-column: 1;
}


/* footer */

#footer {
    grid-template-columns: 1fr;
}

#footer>* {
    margin-bottom: 1rem;
}

#footer_form {
    border: beige 1px dashed;
    border-radius: 10px;
}

#footer_copyright {
    grid-column: 1;
}